body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#console{
    background-color: var(--secondary-background);
    color: var(--main-background);
    width: 100vw;
    margin: 0;
    padding: 25px;
}
#footer{

}
#hints{

}