body{
  height:100vh;
  min-width: 800px;
  min-height: 450px; 
  overflow: hidden;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

.header{
  height: 20vh;
  width: 100%;
}

#screenContainer{
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; 
  overflow: scroll;
}
.screen{
  scroll-snap-align: start;
  scroll-padding: 0;
  scroll-margin: 0;
  height: calc(100vh - 20px);
  width: calc(100vw - 88px);
  margin: 0;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: url("/Images/background.png");
  position: relative;
  overflow: hidden;
}
#scroll{
  position: fixed;
  left: 10px;
  top: calc((100vh - 100px)/2);
  height: 100px;
  width: 20px;
  border-radius: 10px;
  border-color: var(--main-color);
  border-width: 2px;
  border-style: solid;
  z-index: 12;
}
#scrollBar{
  width: calc(80% - 4px);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  background-color: var(--main-color);
  border-radius: 10px;
  border-color: var(--main-color);
  border-width: 2px;
  border-style: solid;
}

#lander{
  background: url("/Images/lander.jpg");
  background-position: center;
  background-size: cover;
}
#landerCard{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  text-align: center;
  background: url("/Images/background.png");
}