@import url('https://fonts.googleapis.com/css?family=Heebo|Montserrat:300');

:root{
  --main-color: #ffffff;
  --main-background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  --content-color: #000000;
  --content-background: #ffffff;

  --active-color: #ffffff;
  --inactive-color: rgba(0, 0, 0, 0);

  --header-font: 'Heebo', sans-serif;
  --content-font: 'Montserrat', sans-serif;
}
html{
	color: var(--main-color);
	background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: var(--content-font);	
}
body{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: var(--header-font);
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: var(--secondary-color);
}

.flush{
  margin: 0;
  padding: 0;
}
.padded{
  margin: 0;
  padding: 10px;
}

.row{ display: flex; }
.column{ flex: 50%; }
.column.dr{
  border-left: 2px dotted rgba(0, 0, 0, 0.2);
}

.left{ text-align: left; }
.right{ text-align: right; }

.contentPanel{
  background: var(--content-background);
  color: var(--content-color);
  border-radius: 25px;
  transform-style: preserve-3d;
  margin: 50px;
  padding: 25px;
}
.content{
  width: 100%;
  height: 100%;
}
.contentPanel:hover>.content{
  transform: translateZ(50px);
  transition: transform 1s ease-in-out;
}